
*{
    font-family: 'Poppins', Arial, sans-serif;
    box-sizing: border-box;
}
.header__burger{
    display: none;
}
body, html{
    margin: 0;
    padding: 0;
    font-size: 24px;
}
 form{
    display: flex;
    position: relative;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}
 input{
    height: 42px;
     width: 200px;
    padding-left: 10px;
    outline: none;
    background: #fcc302;
    color: white;
    border: none;

}
input::-webkit-input-placeholder {
    color: #fff;
    font-size: 1em;
}
 button{
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #00bec9;
    cursor: pointer;
}
 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #F9F0DA;
}
 footer button:before{
     content: "";
 }
 .block{
    color: #313243;
    padding-bottom: 80px    ;
}

.block__subTitle{
    font-size: 2.28em;
    padding: 25px 10px 0;
    margin: 0;
}
.block__subTitle.higer{
    font-size: 2.57em;
    font-weight: 700;
}
.block__text{
    font-size: 1em;
    margin: 0;
    padding: 25px 10px ;
}
.higer{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.block_text.higer{
    font-size: 1.14em;

}
.Triple__text.bold{
    font-weight: 700;
    font-size: 1.14em;
}
.Triple__text{
    margin: 0px;
}
.Triple__text.uppercase{
    font-size: 0.85em;
    text-transform: uppercase;
    
}


.block_orange{
    background: #fcc302;
    color: white;
}
.header__header{
    background-color: #daac00;
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.container{
    max-width: 1144px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.button{
    text-decoration: none;
    font-size: 0.71em;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    margin: 20px;
}
.button__blue{
    background: #00bec9;
    border: 3px solid #00bec9;
}
.button__clarity{
    border: 3px solid white;
}
.button__orange{
    background: #fcc302;
    border: 3px solid #fcc302;
}
.header__header{

}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav img{
    height: 50px;
}
.header__nav ul{
    flex: 1;
    justify-content: space-around;
    display: flex;
    margin: 0;
    padding: 0;
}
.header__nav li{
    list-style: none;
    margin: 0 5px;


}
.header__nav a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}



.doublePlace{
    display: flex;
    padding: 80px 0;
    justify-content: space-around;
}
.doublePlace .text{

    max-width: 700px;
    align-self: center;
    flex: 3;
}
.doublePlace .text.right{
    text-align: right;
}
header .doublePlace .text{
    margin-top: -100px ;

}
.doublePlace .img{
    flex: 2;
    width: auto;
    height: auto;
}
.img img{
    width: 100%;
}
.prewie {
    position: relative;
    display: flex;
    margin-left: 80px;
    background: #fcc302;
    justify-content: center;
    align-items: center;
}
.prewie .square{
    position: absolute;
    height: 40%;
    width: 40%;
    background: #fcc302;
    left: -20px;
    z-index: -1;
    bottom: -20px;
}
.prewie.left{
    margin-left: 0px;
    margin-right: 80px;

}
.prewie.left .square{
    right: -20px;
    left: auto;
}
.prewie .play{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;

}

.prewie .triangle{
    position: absolute;
    border: 20px solid transparent;
    border-left: 35px solid #fcc302;
    left: 47%;

}
.prewie img{

    opacity: 0.5;
}
.triplePlace{
    display: flex;
    justify-content: center;
}
.tripleItem{
    text-align: center;
    margin: 0 30px;
    flex: 1;

}
.tripleItem img{
    width: 100%;
}
.Triple__text{
    font-size: 0.85em;
    margin: 0px;
}
.Triple__title{
    font-size: 1.28em;
    margin: 0 0 15px;
    font-weight: 600;
}
.Triple__title.price{
    font-size: 1.42em;
}
.button.button_buy{
    border-radius: 30px;
    background: #00bec9;
}
.links{
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;

}
.links li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
    list-style: none;
    background: #fcc302;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}
.links a{
    display: flex;
    justify-content: center;
    align-items: center;

}
.links img{
    width: 100%;
    height: 100%;
}
.icon  img{
    width: auto;
    height: 100px;

}
.icon {
    padding: 80px;
    background: linear-gradient(rgba(252, 195, 2, 0.85),rgba(252, 195, 2, 0.85)), url('img/icon bng.png') center 0/100% auto no-repeat;
}
.post{
    padding: 100px 0 ;
    position: relative;
}
.post .tripleItem{
    text-align: left;
    padding-bottom: 30px;
}
.post .tripleItem>*{
    margin-left: 30px;
}
.post .tripleItem img{
    margin: 0;
}
.post .Triple__subTitle{
    text-transform: uppercase;
    color: #00bec9;
    font-size: 0.57em;
    font-weight: 400;

}

.Triple__link{
    color: #00bec9;
    text-decoration: none;
    font-weight: 500;

}
.post .tripleItem{
    border: 2px solid #d4d4d4;
}
.post .tripleItem:hover{
    position: relative;
    z-index: 5;
    border: 0;
    box-shadow: 13px 13px 50px rgba(0,0,0,0.1);
}
footer{
    background: #343434;
    color: white;
    padding: 80px 0 ;

}
footer a{
    color: white;
}

.footerBody{
    display: flex;

}
.footerBody>div{
    flex: 1;
}
.footer__left{
    display: flex;
}
.footerBody ul{

    margin: 0 30px;
    padding: 0;
}
.footerBody  li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__title{
    font-size: 1.28em;
    font-weight: 600;
    margin: 15px 0;
}
.footer__text{
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 400;
    margin: 0;

}
.footer__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__right .footer__title{
    margin: 15px 0 0;
}
.footer__right form{
    margin: 15px;
}
.links.footer li{
    background: #343434;
    margin-left: 10px;

}
a:hover{
    color: #7B7A7AFF;
}